@using MovieGalleryApp.Core.Models.Genre
@model ICollection<GenreTableVM>
@{
    int i = 0;
}

<div class="genre-table-div">
    <table class="rtable">
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@(i += 1)</td>
                    <td>@genre.Title</td>
                </tr>
            }
        </tbody>
    </table>
    @if (User.IsInRole(UserConstants.Roles.MovieAdministrator))
    {
        <a class="cast-featured-button cast-button" asp-controller="Genre" asp-action="Add">Add a genre</a>
    }
</div>