@using MovieGalleryApp.Core.Models.Movie
@model MovieCreateVM
@{
}

<div class="row">
    <div class="col-4">
        <div class="edit-form">
            <div class="edit-title">Welcome, Movie Administrator!</div>
            <div class="edit-subtitle">Here you can add a new movie!</div>
            <form id="edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="edit-input-container ic1">
                    <label asp-for="Title" class="form-label edit-position"></label>
                    <input asp-for="Title" class="form-control edit-width" aria-required="true" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="input-container ic2">
                    <label asp-for="Description" class="form-label edit-position"></label>
                    <textarea asp-for="Description" class="form-control edit-width edit-text-area" aria-required="true"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="input-container ic2">
                    <label asp-for="ImgUrl" class="form-label edit-position"></label>
                    <input asp-for="ImgUrl" class="form-control edit-width" aria-required="true" />
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                </div>
                <div class="input-container ic2">
                    <label asp-for="ReleaseDate" class="form-label edit-position"></label>
                    <input asp-for="ReleaseDate" class="form-control edit-width" aria-required="true" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="input-container ic2">
                    <label asp-for="Rating" class="form-label edit-position"></label>
                    <input asp-for="Rating" class="form-control edit-width" aria-required="true" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="input-container ic2">
                    <label asp-for="Budget" class="form-label edit-position"></label>
                    <input asp-for="Budget" class="form-control edit-width" aria-required="true" />
                    <span asp-validation-for="Budget" class="text-danger"></span>
                </div>
                 <div class="input-container ic2">
                    <label asp-for="Genres" class="form-label edit-position"></label>
                    <input asp-for="Genres" class="form-control edit-width" aria-required="true" />
                    <span asp-validation-for="Genres" class="text-danger"></span>
                </div>
                <div class="input-container ic2">
                    <label asp-for="Countries" class="form-label edit-position"></label>
                    <input asp-for="Countries" class="form-control edit-width" aria-required="true" />
                    <span asp-validation-for="Countries" class="text-danger"></span>
                </div>
                <button id="login-submit" type="submit" class="edit-submit">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}