<div class="navbar">
    <div class="navbar-container">
        <div class="logo-container">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">Movie Gallery</a>
        </div>
        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-list-item active">
                    <a class="main-page-navbar-a" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="menu-list-item active">
                    <a class="main-page-navbar-a" asp-controller="Movie" asp-action="All">Movies</a>
                </li>
                <li class="menu-list-item active">
                    <a class="main-page-navbar-a" asp-controller="Genre" asp-action="All">Genres</a>
                </li>
                <li class="menu-list-item active">
                    <a class="main-page-navbar-a" asp-controller="Actor" asp-action="All">Actors</a>
                </li>
                <li class="menu-list-item active">
                    <a class="main-page-navbar-a" asp-controller="Country" asp-action="All">Countries</a>
                </li>
                <li class="menu-list-item active">
                    <a class="main-page-navbar-a" asp-controller="Cinema" asp-action="All">Cinemas</a>
                </li>
            </ul>
        </div>
        <partial name="_LoginPartial" />
    </div>
</div>