<div class="navbar">
    <div class="navbar-container">
        <div class="logo-container">
            <h1 class="logo">flakes</h1>
        </div>
        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-list-item active">Home</li>
                <li class="menu-list-item">Movies</li>
                <li class="menu-list-item">Series</li>
                <li class="menu-list-item">Popular</li>
                <li class="menu-list-item">Trends</li>
            </ul>
        </div>
        <partial name="_LoginPartial" />
    </div>
</div>