* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 30px;
    color: #4dbf00;
    white-space: nowrap;
    text-decoration: none;
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
}

    .menu-list-item.active {
        font-weight: bold;
    }

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container {
    margin: 0 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-left: 15px;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container {
    margin-left: 50px;
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    margin-left: 0px;
}

.featured-content {
    height: 50vh;
    padding: 50px;
}

.featured-title {
    width: 200px;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-button {
    text-decoration: none;
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}

.movie-list-container {
    padding: 0 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

    .movie-list-item:hover .movie-list-item-img {
        transform: scale(1.2);
        margin: 0 30px;
        opacity: 0.5;
    }

    .movie-list-item:hover .movie-list-item-title,
    .movie-list-item:hover .movie-list-item-desc,
    .movie-list-item:hover .movie-list-item-button {
        opacity: 1;
    }

.movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title {
    text-align: center;
    height: 31px;
    width: 230px;
    background-color: #333;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    padding-top: 20px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
    height: 150px;
}

.movie-list-item-button {
    text-decoration: none;
    position: relative;
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transition: 1s all ease-in-out;
    left: 225px;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.container.active {
    background-color: white;
}

.movie-list-title.active {
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.sidebar.active {
    background-color: white;
}

.left-menu-icon.active {
    color: black;
}

.toggle.active {
    background-color: black;
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}

#grid_groups_wrapper {
    max-width: 800px;
}

.default-avatar {
    background-color: #47d501;
    font-weight: 500;
    color: #fff;
    font-size: 1.6rem;
}

.default-avatar,
.member-overlap-item {
    height: 60px;
    width: 60px;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
}

.member-overlap-item {
    margin-right: -10px;
    border: 2px solid #fff;
}

.grid-icon {
    vertical-align: middle;
    line-height: 1;
}

/*table*/
.rtable {
    /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    // optional - looks better for small cell values white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}

.rtable,
.rtable--flip tbody {
    // optional - enable iOS momentum scrolling -webkit-overflow-scrolling: touch;
    // scrolling shadows background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
}

    // change these gradients from white to your background colour if it differs
    // gradient on the first cells to hide the left shadow
    .rtable td:first-child,
    .rtable--flip tbody tr:first-child {
        background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
        background-repeat: no-repeat;
        background-size: 20px 100%;
    }

    // gradient on the last cells to hide the right shadow
    .rtable td:last-child,
    .rtable--flip tbody tr:last-child {
        background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 20px 100%;
    }

    .rtable th {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        background: #7f0000;
    }

    .rtable th,
    .rtable td {
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
    }

.rtable--flip {
    display: flex;
    overflow: hidden;
    background: none;
}

    .rtable--flip thead {
        display: flex;
        flex-shrink: 0;
        min-width: min-content;
    }

    .rtable--flip tbody {
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .rtable--flip tr {
        display: flex;
        flex-direction: column;
        min-width: min-content;
        flex-shrink: 0;
    }

    .rtable--flip td,
    .rtable--flip th {
        display: block;
    }

    .rtable--flip td {
        background-image: none !important;
        // border-collapse is no longer active border-left: 0;
    }

        // border-collapse is no longer active
        .rtable--flip th:not(:last-child),
        .rtable--flip td:not(:last-child) {
            border-bottom: 0;
        }

.cast-table-div {
    width: 400px;
    padding-top: 120px;
    margin: auto;
}

.movie-table-div {
    width: 1300px;
    padding-top: 120px;
    margin: auto;
}

.genre-table-div {
    width: 350px;
    padding-top: 120px;
    margin: auto;
}

.actor-table-div {
    width: 700px;
    padding-top: 120px;
    margin: auto;
}

.country-table-div {
    width: 600px;
    padding-top: 120px;
    margin: auto;
}

.cinema-table-div {
    width: 600px;
    padding-top: 120px;
    margin: auto;
}

.cast-img {
    width: 150px;
    height: 200px;
}

.cast-button{
    position: relative;
    top: 30px;
}

.main-page-navbar-a{
    color: white;
    text-decoration: none;
}

.nav-text-decoration{
    color: white;
    text-decoration: none;
}